In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv("KAG_conversion_data.csv")

In [3]:
data.head()

,ad_id,xyz_campaign_id,fb_campaign_id,age,gender,interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB

In [5]:
data = data.rename(columns={'ad_id': 'Ad_id',
                            'xyz_campaign_id': 'Campaign_id',
                            'fb_campaign_id': 'FB_Campaign_id',
                            'age': 'Age',
                            'gender': 'Gender',
                            'interest': 'Interest'})

In [6]:
age_split = data['Age'].str.split("-", expand=True)
data['Age_New'] = (age_split[0].astype(int) + age_split[1].astype(int)) / 2

In [7]:
data.Interest.unique()

array([ 15,  16,  20,  28,  29,  27,  31,   7,  30,  24,  21,  32,  18,
        63,  65,  25,  10,  19,  26,  36,  23,  64,  22,   2,  66, 100,
       101, 102, 103, 105, 107, 110, 111, 112, 113, 108, 109, 114, 104,
       106])

In [8]:
data.Approved_Conversion.max()

np.int64(21)

In [9]:
data.columns

Index(['Ad_id', 'Campaign_id', 'FB_Campaign_id', 'Age', 'Gender', 'Interest',
       'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion', 'Age_New'],
      dtype='object')

In [10]:
# lets assume value per conversion is $10
VALUE_PER_CONVERSION = 10

In [11]:
data['CTR'] = data['Clicks'] / data['Impressions']
data['CPC'] = data['Spent'] / data['Clicks']
data['CPM'] = (data['Spent'] / data['Impressions']) * 1000
data['Conversion_Rate'] = data['Approved_Conversion'] / data['Clicks']
data['CPA'] = data['Spent'] / data['Approved_Conversion']

data['Revenue'] = data['Approved_Conversion'] * VALUE_PER_CONVERSION
data['Profit'] = data['Revenue'] - data['Spent']
data["ROI"] = (data['Profit'] / data['Spent']) * 100

In [12]:
data.head()

,Ad_id,Campaign_id,FB_Campaign_id,Age,Gender,Interest,Impressions,Clicks,Spent,Total_Conversion,Approved_Conversion,Age_New,CTR,CPC,CPM,Conversion_Rate,CPA,Revenue,Profit,ROI
0,708746,916,103916,30-34,M,15,7350,1,1.43,2,1,32.0,0.000136,1.43,0.194558,1.0,1.43,10,8.57,599.300725
1,708749,916,103917,30-34,M,16,17861,2,1.82,2,0,32.0,0.000112,0.91,0.101898,0.0,inf,0,-1.82,-100.000000
2,708771,916,103920,30-34,M,20,693,0,0.00,1,0,32.0,0.000000,NaN,0.000000,NaN,NaN,0,0.00,NaN
3,708815,916,103928,30-34,M,28,4259,1,1.25,1,0,32.0,0.000235,1.25,0.293496,0.0,inf,0,-1.25,-100.000000
4,708818,916,103928,30-34,M,28,4133,1,1.29,1,1,32.0,0.000242,1.29,0.312122,1.0,1.29,10,8.71,675.193821

In [13]:
data.to_excel("facebook_ads_processed.xlsx", index=False)